<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>New Student</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
   <style>
      body {
         padding: 2%;
         color: aliceblue;
         background-color: rgba(57, 75, 80, 0.816);
      }
      ul{
         display: flex;
         display:flexbox
      }
  
   </style>
</head>

<body>
  <h1>Add New Note</h1>
   <form action="/notes" method="POST">
      <div>
         <label for="title"> Note Title:</label> <br>
         <input type="text" placeholder=" note title" id="title" name="title">
      </div>
      <br>
      <div>
         <label for="dec"> Description:</label> <br>
         <textarea name="description" id="dec" cols="30" rows="5"></textarea>
      </div>
      <button class="btn btn-success"> Add Note</button>
   </form>
<hr>
<a href="/notes" class="btn btn-danger">Cancle and Back to Notes</a> <br> <br>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>